.container {
    height: auto;
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 150px);
}

.list-order {
    grid-area: 1 / 1 / 4 / 2;
    background-color: rgb(243, 186, 64);
}

.make-order {
    grid-area: 1 / 2 / 4 / 3;
    background-color: rgb(255, 248, 183);
}
.composition {
    grid-area: 4 / 1 / 6 / 3;
    background-color: rgb(250, 233, 156);
    display: flex;
    justify-content: space-between;
  }
  
  .composition ul {
    flex: 1;
  }

@media screen and (max-width: 1000px) {
    .list-order {
        grid-area: 1 / 1 / 3 / 3;
    }

    .make-order {
        grid-area: 5 / 1 / 7 / 3;
    }
    
    .composition {
        grid-area: 3 / 1 / 5 / 3;
    }
}
